<div>
  <h3>Đăng kí khóa học</h3>
  <form method="POST" action="store">
    <div class="mb-3">
      <label for="name" class="form-label">Tên khóa học</label>
      <input type="text" class="form-control" id="name" name="name"/>
    </div>
    <div class="mb-3">
      <label for="decription" class="form-label">Mô tả</label>
      <input type="text" class="form-control" id="decription" name="decription"/>
    </div>
    <div class="mb-3">
      <label for="vd" class="form-label">VideoId</label>
      <input type="text" class="form-control" id="vd" name="vd"/>
    </div>
    <button type="submit" class="btn btn-primary">Đăng khóa học</button>
  </form>
</div>